.title {
    font-size: 28px;
    font-weight: 700;
    color: #1A1A2E;
    position: relative;
    padding-bottom: 10px;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: linear-gradient(90deg, #3a0ca3, #4361ee);
    border-radius: 10px;
}
